@import './assets/css/w3.css';

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    --color-text: #424242;
    --color-bg: #111111;
    --color-link: #999;
    --color-link-hover: #fff;
    --color-primary: #EEFE34;
    --color-secondary: #EEFE34;
    --color-description: #3b343a;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html, body { height: 100%; }
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #5f6368;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #5f6368;
}
