<div class="w3-row">
  <div class="w3-col s1 m1 l2">
    <p> </p>
  </div>
  <div class="w3-col s10 m10 l8" style="height:100vh">
    <div class="landing">
      <div class="container-partner" data-aos="fade-left">
        <img src="../../assets/images/partner.png" alt="google cloud partner">
        <img src="../../assets/images/green-tag-2.png" alt="green geeks partner">
      </div>
      <div class="bg"></div>
      <div class="container-title" data-aos="fade-up" data-aos-duration="1000">
        <p>Un aliado en soluciones tecnológicas</p>
        <img src="../../assets/images/letters.svg" alt="meraki solutions logo">
        <p class="w3-hide-small">"Para situaciones sin precedentes, se necesitan soluciones sin precedentes"</p>
        <p class="w3-hide-small">- María Antonieta Alva, Ministra de Economia, Perú</p>
      </div>
      <div id="ms_image_container" class="ms-image-container" data-aos="fade-right">
        <div id="ms_image" class="ms-image"></div>
      </div>

      <div id="nav_landing" class="container-nav-landing w3-hide-small" data-aos="fade-right">
        <nav>
          <li id="nav_logo" data-aos="fade-in"><a href="#ms_background"><img src="../../assets/images/meraki-logo.svg"
                alt="meraki solutions logo" style="height: 50px;"></a></li>
          <li (click)="changeTopic('app')">Aplicaciones</li>
          <li (click)="changeTopic('bd')">Big Data</li>
          <li (click)="changeTopic('ml')">Machine Learning</li>
          <li (click)="changeTopic('web')">Websites</li>
          <li (click)="changeTopic('i2ot')">I2OT</li>
        </nav>
      </div>

      <div id="nav_landing_small" class="container-nav-landing w3-hide-medium w3-hide-large" data-aos="fade-down">
        <nav>
          <a href="#ms_background"><img src="../../assets/images/meraki-logo.svg" alt="meraki solutions logo"
              style="height: 50px;"></a>
          <span style="flex: auto 1 1"></span>
          <button mat-icon-button [matMenuTriggerFor]="appMenu" style="background: transparent;">
            <mat-icon>menu</mat-icon>
          </button>

          <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="changeTopic('app')">Aplicaciones</button>
            <button mat-menu-item (click)="changeTopic('bd')">Big Data</button>
            <button mat-menu-item (click)="changeTopic('ml')">Machine Learning</button>
            <button mat-menu-item (click)="changeTopic('web')">Websites</button>
            <button mat-menu-item (click)="changeTopic('i2ot')">I2OT</button>
          </mat-menu>
        </nav>
      </div>
    </div>
  </div>
  <div class="w3-col s1 m1 l2">
    <p> </p>
  </div>
</div>

<div class="w3-row">
  <div class="w3-col s1 m1 l2">
    <p> </p>
  </div>
  <div class="w3-col s10 m10 l8" style="height: 200vh;">
    <div id="app_content" *ngIf="content === 'app'">
      <h2 class="app-bg" data-aos="fade-up">Apps</h2>
      <div id="app_text" data-aos="fade-up" data-aos-duration="2000">
        <h3>Nuestras aplicaciones</h3>
        <p>Somos fanáticos de las herramientas, servicios y productos de Google (Lo que probablemente nos hizo
          Partners).

          Así que todos nuestros proyectos han sido desarrollados utilizando el ecosistema de Google Cloud.</p>

        <img src="../../assets//images/google cloud.png" alt="google cloud services" style="width: 100%;">

        <p style="margin: 3em 0;">Y sus principales frameworks para programadores.</p>

        <img src="../../assets//images/frameworks.png" alt="google cloud services" style="width: 80%;">
      </div>


      <div id="app_image" class="w3-hide-small" data-aos="fade-up" data-aos-duration="1000">
        <img src="../../assets/images/google-pixel.png" alt="app image" style="width: 100%;">
      </div>

      <div id="app_projects" data-aos="fade-up" data-aos-duration="2000">
        <h2 class="app-bg">Works</h2>
        <ul id="app_projects_list">
          <li><span>001</span> Sistema de gestión CRC La Joya</li>
          <li><span>002</span> Gestión de herramientas - TMM</li>
          <li><span>003</span> Visualizador de utilización - TMM</li>
          <li><span>004</span> Realidad Aumentada Utilización- TMM</li>
          <li><span>005</span> Generador de tarjetas - RTD</li>
          <li><span>006</span> Gestión de almacenes - FDS</li>
          <li><span>007</span> Gestión de almacenes - WIP</li>
          <li><span>008</span> Gestión de almacenes - Utillajes</li>
          <li><span>009</span> Gestión de lavado interno</li>
          <li><span>010</span> Control de standard jobs - CRC</li>
          <li><span>012</span> Aplicación Runner - Logística</li>
          <li><span>013</span> Predicción de demanda anual - TMM</li>
          <li><span>014</span> Predicción de demanda semanal - TMM</li>
        </ul>
      </div>

    </div>


    <div id="ms_big_data_content">
      Hola Big Data
    </div>
    <!--
    <div id="ms_machine_learning_content">
      Hola Machine Learning
    </div>

    <div id="ms_websites_content">
      Hola Websites
    </div>

    <div id="ms_i2ot_content">
      Hola I2OT
    </div> -->
  </div>
  <div class="w3-col s1 m1 l2">
    <p> </p>
  </div>
</div>