<div class="w3-row">
  <div class="w3-col s1 m1 l1">
    <p> </p>
  </div>
  <div class="w3-col s10 m10 l10" style="height:100vh">
    <div id="ms_background"></div>

    <div id="ms_container" class="w3-margin-top ms-container" data-aos="fade-right">
      <img src="../../assets/images/partner.png" alt="google partner" style="width:10vw; min-width:100px">
    </div>

    <div id="ms_image_container" class="ms-image-container" data-aos="fade-right">
      <div id="ms_image" class="ms-image"></div>
    </div>

    <div class="ms-slogan-container" data-aos="fade-right">
      <p class="ms-slogan">Un aliado en soluciones tecnológicas</p>
    </div>

    <div class="ms-title-container" data-aos="fade-up" data-aos-duration="3000">
      <!-- <h1 class="ms-title">MERAKI SOLUTIONS</h1> -->
      <img src="../../assets/images/letters.svg" alt="meraki solutions logo">
    </div>

    <div class="ms-quote-container w3-hide-small" data-aos="fade-up" data-aos-duration="3000">
      <p class="ms-quote">"Para situaciones sin presedentes, se necesitan soluciones sin presedentes"</p>
      <p class="ms-quote">- María Antonieta Alva, Ministra de Economia, Perú</p>
    </div>

    <div id="ms_nav_containter_landing" class="ms-nav-container w3-hide-small" data-aos="fade-right">
      <nav>
        <li>Aplicaciones</li>
        <li>Big Data</li>
        <li>Machine Learning</li>
        <li>Websites</li>
        <li>I2OT</li>
      </nav>
    </div>

    <div id="ms_nav_container_scroll" class="ms-nav-container-scroll">
      <nav>
        <li><a href="#ms_background"><img src="../../assets/images/meraki-logo.svg" alt="meraki solutions logo"
              style="height: 50px;"></a></li>
        <li style="flex: auto 1 1"></li>
        <li>Aplicaciones</li>
        <li>Big Data</li>
        <li>Machine Learning</li>
        <li>Websites</li>
        <li>I2OT</li>
      </nav>
    </div>
  </div>
  <div class="w3-col s1 m1 l1">
    <p> </p>
  </div>
</div>

<div class="w3-row">
  <div class="w3-col s1 m1 l1">
    <p> </p>
  </div>
  <div class="w3-col s10 m10 l10">
    <div id="ms_applications_content" style="min-height: 100vh;">
      <h2 id="ms_bg_applications" data-aos="fade-up">Apps</h2>
      <div id="ms_applications_p" data-aos="fade-up" data-aos-duration="2000">
        <h3>Nuestras aplicaciones</h3>
        <p>Somos fanáticos de las herramientas, servicios y productos de Google (Lo que probablemente nos hizo
          Partners).

          Así que todos nuestros proyectos han sido desarrollados utilizando el ecosistema de Google Cloud.</p>

        <img src="../../assets//images/google cloud.png" alt="google cloud services" style="width: 30vh;">

        <p style="margin: 3em 0;">Y sus principales frameworks para programadores.</p>

        <img src="../../assets//images/frameworks.png" alt="google cloud services" style="width: 30vh;">
      </div>

      <!-- IMAGE -->
      <div id="ms_applications_animation" data-aos="fade-up" data-aos-duration="1000">
        <img src="../../assets/images/app.png" alt="app animation">
      </div>

      <div id="ms_applications_projects" data-aos="fade-up" data-aos-duration="2000">
        <div class="ms-projects-list">
          <h3>Proyectos</h3>
          <ul id="ms_applications_project_list">
            <li><span>001</span> Sistema de gestión CRC La Joya</li>
            <li><span>002</span> Gestión de herramientas - TMM</li>
            <li><span>003</span> Visualizador de utilización - TMM</li>
            <li><span>004</span> Realidad Aumentada Utilización- TMM</li>
            <li><span>005</span> Generador de tarjetas - RTD</li>
            <li><span>006</span> Gestión de almacenes - FDS</li>
            <li><span>007</span> Gestión de almacenes - WIP</li>
            <li><span>008</span> Gestión de almacenes - Utillajes</li>
            <li><span>009</span> Gestión de lavado interno</li>
            <li><span>010</span> Control de standard jobs - CRC</li>
            <li><span>012</span> Aplicación Runner - Logística</li>
            <li><span>013</span> Predicción de demanda anual - TMM</li>
            <li><span>014</span> Predicción de demanda semanal - TMM</li>
            
          </ul>
        </div>
      </div>
    </div>

    <!-- <div id="ms_big_data_content">
      Hola Big Data
    </div>

    <div id="ms_machine_learning_content">
      Hola Machine Learning
    </div>

    <div id="ms_websites_content">
      Hola Websites
    </div>

    <div id="ms_i2ot_content">
      Hola I2OT
    </div> -->
  </div>
  <div class="w3-col s1 m1 l1">
    <p> </p>
  </div>
</div>